# =========================
# Java
# =========================
*.class
*.jar
*.war
*.ear

# =========================
# Gradle
# =========================
.gradle/
build/
!gradle-wrapper.jar

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
*.iws
out/

# =========================
# Logs e arquivos temporários
# =========================
*.log
*.tmp
*.swp

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db
